<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507457857813-ofhp34pp3gng625ldm58eni3b4qm4jnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507457857813-ofhp34pp3gng625ldm58eni3b4qm4jnj</string>
	<key>API_KEY</key>
	<string>AIzaSyDfR2ETMrCDHugXNjNjtLKIfigGipXmM8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>507457857813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelapp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-440a0</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-440a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507457857813:ios:6e35a9e8e7b15a530f211c</string>
</dict>
</plist>